body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

#emojiButton {
  display: none;
}

.messageText p {
  display: inline;
}

.messageText blockquote {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}
