$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
$lime:#92CD00;
$navy:#1B264F;
$lightblue:#BEC9F3;
$blue:#3083b3;
$grey:#E5E5E5;
$green:#2C6700;
$gold:#e8ea19;


.container {
    width:100%;
    padding:0px;
    margin:0px;
}

/* Custom page header */
.header {
    border-bottom: 3px solid $navy;
    position: fixed;
    top:0px;
    z-index:100;
    background:white;
    width:100%;
    padding-left:15px;
    padding-bottom:5px;
    padding-right:15px;


    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }
}

/*Left Nav*/
/*TODO: Break into separate file.*/

#leftBar {
    min-height:400px;
    background: $navy;
    padding-top: 80px;
    height: 100vh;
    padding-left:15px;
    padding-right:15px;
    width: 275px;
    position:fixed;
    top:0px;
    left:0px;
    z-index:50;
}

#norms {
    color:white;
}

#participants {
    margin-top: 40px;

}

.profile {

    .ismod {
        color:$gold; 
        float:right;  
        font-size: 10px;    
    }

    .bio {
        font-size: 12px;
        font-style: italic;
    }
    .glyphicon-star {

        font-size: 20px;

    }

    .name {
        font-weight: bold;
        font-size: 14px;
    }

    .icon {
        float:left;
        margin-right:10px;
    }
}

/* Message display */
#messages{
    height:100%;
    width:100%;
    padding-top:80px;
    overflow:scroll;


    #msgContainer {
        margin-left: 300px;
        margin-bottom:60px;
    }

    .message {
        padding-top:10px;
        padding-bottom:5px;

        .icon {
            padding-right:10px;
            vertical-align: top;
        }

        .name {
            font-weight: bold;
            font-size: 14px;
        }

        .date {
            font-size: 10px;
            font-style: italic;
            color: grey;
            height:22px;
        }

        .text {
            font-size: 16px;
        }
    }

    .msgPadding {
        height:15px;
    }

    .actions {
        color:grey;
        height:22px;
        font-size: 16px;

        span {
            padding-right:20px;
        }
    }
}

    /* Message composition */

    #compose {
        position:fixed;
        bottom:0px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top:10px;
        background:white;
        width:100%;
        padding-left:300px;
        padding-right:15px;
    }


.container-narrow > hr {
    margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    .footer {
        color: $grey;
        font-size: 11px;
        font-style: italic;
        position: fixed;
        bottom: 5px;
        left: 15px;
    }

}
