$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.hide {
    display:none;
}

.container {
    width:100%;
    padding:0px;
    margin:0px;
}

/*Left Nav*/

#leftBar {
    min-height:400px;
    background: $purple;
    padding-top: 80px;
    height: 100vh;
    padding-left:15px;
    padding-right:15px;
    width: 275px;
    position:fixed;
    top:0px;
    left:0px;
    z-index:50;
}

#norms {
    color:white;

    #normlist {
        list-style:none;
        font-weight:bold;
        padding-left:15px;
        li {
            margin-bottom:10px;
        }
    }
}

#participants {
    margin-top: 40px;
}


/* Message display */

#messages{
    height:100%;
    width:100%;
    padding-top:80px;
    overflow:scroll;


    #msgContainer {
        margin-left: 275px;
        margin-bottom:65px;
    }

    .message {
        padding-top:10px;
        padding-bottom:5px;

        .messageText {
            width: 90%;
        }

        .icon {
            padding-right:10px;
            padding-left:25px;
            padding-top:5px;
            vertical-align: top;
        }

        .name {
            font-weight: bold;
            font-size: 14px;
        }

        .date {
            font-size: 10px;
            font-style: italic;
            color: grey;
            height:22px;
        }

        .text {
            font-size: 16px;
        }
    }

    .msgPadding {
        height:15px;
    }

    .actions {
        color:grey;
        height:22px;
        font-size: 16px;
        cursor: pointer;

        span {
            padding-right:20px;
        }
    }
}

    /* Message composition */

    #compose {
        position:fixed;
        bottom:0px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top:10px;
        background:white;
        width:100%;
        padding-left:300px;
        padding-right:15px;
        z-index:50;
    }


.container-narrow > hr {
    margin: 30px 0;
}

/*ModAction*/
#modAction {
    width:60%;
    border-radius:6px;
    border: 1px $purple solid; 
    padding: 10px;
    margin-top: 20px;

    .glyphicon-remove {
        float:right;
        color:$blue;
        cursor:pointer;
    }

    .chooseNorm {
        cursor:pointer;
    }

    .chooseVis {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .visText {
        padding-top: 10px;
        font-style: italic;

        .glyphicon {
            margin-right: 10px;
            font-style: none;
        }
    }

    .escalateLink {
        color:red;
    }

    .modActions .btn {
        margin-right:10px;
        margin-bottom: 10px;
    }

}

.modActionNotif {
    background:$lightyellow;
    font-size:12px;
    font-style: italic;
    color:grey;

    p {
        margin:0px;
    }
    h3 {
        color:black;
        font-style:initial;
    }

    ul.list-group {
        margin-bottom:5px;
    }

    .list-group-item {
        background:none;
        font-weight: bold;
        color:black;
        font-style:initial;
        border:none;
        padding:3px;
        margin-left:5px;
    }

    .quote {
        color:grey;
        font-style:initial;
        width:80%;
    }

    .modNote {
        color:black;
        font-style:initial;
        font-size:14px;
        padding-bottom:20px;
    }
}

input[type="checkbox"] {
    margin-right: 20px;
}


