/** Messages.css **/
@value sizes: "../sizes.css";
@value mobile from sizes;

#messages {
    height:100%;
    width:100%;
    padding-left:275px;
    padding-top:100px;
    overflow:scroll;
}

#msgContainer {
	width:inherit;
    margin-bottom:65px;
}

@media (mobile) {
	#messages {
		padding-left:30px;
	}
}