/** Message.css **/

.message {
    padding-top:10px;
    padding-bottom:5px;
}

.messageText {
    width: 90%;
}

.icon {
    margin-right:10px;
    margin-left:25px;
    margin-top:5px;
    vertical-align: top;
}

.actionIcon {
    cursor:pointer;
    color:grey;
    margin-right: 5px;
    opacity:.25;
}

.actionIcon:hover {
    opacity: 1;
}

.name {
    font-weight: bold;
    font-size: 14px;
}

.date {
    font-size: 10px;
    font-style: italic;
    color: grey;
    height:22px;
    display: inline-block;
}

.text {
    font-size: 16px;
}

.msgPadding {
    height:15px;
}

.actions {
    height:22px;
    display: inline-block;
}