/** Norms.css **/

.norms {
    margin-top: 40px;
    text-align: center;
}

.norms li {
    text-align: left;
    padding-left:10px;
}

.check {
    height:25px;
    margin-right:10px;
    color:green;
}