/* Reactions.css */

@value sizes: "../sizes.css";
@value mobile from sizes;

.reactionIcon {
  font-size: 14px;
  cursor: pointer;
  opacity: .25;
  margin-right: 5px;
}

@media (mobile) {
  .reactionIcon {
    font-size:20px;
    margin-right: 15px;
    opacity: .5;
  }
}
