body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #12726a;
}

#emojiButton {
  display: none;
}


input:focus {
  outline-width: 0
}

.messageText p {
  display: inline;
}

.messageText blockquote {
  padding: 10px;
  background-color: #eee;
  border-radius: 5px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 1500ms ease-in;
}
