html
  header
    link(href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet")
    link(rel="stylesheet" href="/public/styles/main.css")
  body
    h1(style="width: 100%; text-align: center; margin-top: 80px; color: #12726a;").
      Room Not Found
