/** Navbar.css **/

@value colors: "../colors.css";

h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

nav {
    background: grey from colors;
    padding-left:30px;
    padding-right:30px;
}

a {
    color:black;
    cursor: pointer;
}