/** Navbar.css **/

@value colors: "../colors.css";
@value bootstrap: "../../bower_components/bootstrap/dist/css/bootstrap.css";

.header {
    border-bottom: 3px solid primary from colors;
    position: fixed;
    top:0px;
    z-index:100;
    background:white;
    width:100%;
    padding-left:15px;
    padding-bottom:5px;
    padding-right:15px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

nav {
    background: grey from colors;
    padding-left:30px;
    padding-right:30px;
}

.navbar {
    composes: navbar from bootstrap;
    composes: navbar-default from bootstrap;
}

.navbrand {
    composes: navbar-brand from bootstrap;
}

.navlist {
    composes: nav from bootstrap;
    composes: navbar-nav from bootstrap;
    composes: pull-right from bootstrap;
}

.navitem {
    composes: nav-item from bootstrap;
}

.active {
    composes: active from bootstrap;
}

.sronly {
    composes: sr-only from bootstrap;
}

.navlink {
    composes: navbar-link from bootstrap;
}

a {
    color:black;
    cursor: pointer;
}