/**Join.css **/

@value colors: "../colors.css";

#join {
    text-align: center;
}

#userCertificates {
    width:270px;
    display:inline-block;
    min-height:100px;
    vertical-align: top;
    padding:5px;
    margin:5px;
}

#userCertificates .userCertificateText {
    font-style: italic;
    font-size: 12px;
    color: grey from colors;
}