/* RoomCards.css  */
@value colors: "../colors.css";
 #roomCards {
    width: 950px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
 }

 /* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    .footer {
        color: grey from colors;
        font-size: 11px;
        font-style: italic;
        position: fixed;
        bottom: 5px;
        left: 15px;
    }

}