/** RoomCard.css **/

@value colors: "../colors.css";
@value primary, secondary, white, grey, green from colors;

.roomImage {
    display:block;
    vertical-align: initial;
    cursor:pointer;
}

.roomImage img {
    border-radius:5px;
    width:300px;
}

.roomCard {
    margin: 10px;
    padding: 0px;
    width:300px;
    height:700px;
    display: inline-block;
    backface-visibility: hidden;
    vertical-align: top;
    perspective: 1000px;
}

.flippingFront {
    animation-name: flip-over;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
}

.flippingBack {
    animation-name: flip-back;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index:2;
    width:300px;
    background: white;
    border-radius: 5px;
}

.back {
    padding: 0px 20px 20px 20px;
    text-align: center;
    width: 300px;
    z-index: 0;
    border-radius: 5px;
    background: white;
}

.flippingFront .back, .flippingBack .back{
    transform:rotateY(180deg);
}

.roomInfo {
    padding:10px;
}

.roomCard h3 {
 color: primary;
 cursor:pointer;
}


.roomCard hr {
    margin-top:5px;
}

.roomTime, .nametagCount {
    text-align:right;
    font-size: 11px;
    font-style: italic;
    color: grey;
}

.ismod {
    margin-bottom:5px;
    color:primary;
}

.modTitle {
    margin-left: 5px;
    font-weight: bold;
    display:inline-block;
}

.icon {
    float:left;
    padding-right:10px;
}

.participant {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 4px;
}

.name {
    font-weight:bold;
}

.norms {
    margin-top: 40px;
    text-align: center;
}

.norms h4 {
    color:primary;
}
.norms p {
    font-style:italic;
}

.norms li {
    text-align: left;
    padding-left:10px;
}

.check {
    height:25px;
    margin-right:10px;
    color:green;
}

.chevron {
    width: 15px;
    margin-right: auto;
    margin-left: auto;
    color:primary;
    fill:primary;
    cursor:pointer;
}

.checkboxLabel {
    margin-left:10px;
}

@keyframes flip-over{ from {transform: rotateY(0deg);} to { transform: rotateY(180deg); } } 
@keyframes flip-back{ from {transform: rotateY(180deg);} to { transform: rotateY(360deg); } } 