/* RoomCards.css  */
@value colors: "../colors.css";
@value grey, secondary from colors;


#roomSelection {
    background: secondary;
}

.footer {
    color: grey;
    font-size: 11px;
    font-style: italic;
    position: fixed;
    bottom: 5px;
    left: 15px;
}