/** ExitNametag.css **/

@value white from "../colors.css";
@value bootstrap: "../../bower_components/bootstrap/dist/css/bootstrap.css";

#editNametag {
    width:250px;
    display:inline-block;
    min-height:100px;
    vertical-align: top;
    padding:5px;
    margin:5px;
    background:white;
    border-radius:6px;
    border: 1px solid grey;
}

.nametagFields {
    display:inline-block;
}

.form {
    composes: form-group from bootstrap;
    margin-bottom: 0px;
}

.formControl {
    composes: form-control from bootstrap;
    padding-left:0px;
    border: none;
    background: none;   
    box-shadow:none;
    resize:none;   
}

.formControl:focus {
    box-shadow: none;
}

.icon {
    composes: img-circle from bootstrap;
    padding-right:10px;
    padding-left:25px;
    padding-top:5px;
    vertical-align: top;
}
#editNametag img {
    margin:10px;
    padding:0px;
}