/** Nametag.css **/

@value colors: "../colors.css";

.ismod {
    color:primary from colors; 
    float:right;  
    font-size: 10px;    
}

.bio {
    font-size: 12px;
    font-style: italic;
}

.hosticon {
    font-size: 20px;
    margin:10px;
}

.name {
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}

.icon {
    float:left;
    margin:10px;
    width: 50px;
}
