/** Nametags.css **/
@value bootstrap: "../../bower_components/bootstrap/dist/css/bootstrap.css";

.nametag {
  width: 240px;
  min-height: 60px;
  margin-bottom: 5px;
}

.nametags {
	margin-bottom:40px;
}

