/** Certificate.css **/

@value colors: "../colors.css";
@value grey from colors;
@value bootstrap: "../../bower_components/bootstrap/dist/css/bootstrap.css";

.certificate {
    composes: label from bootstrap;
    margin-left:5px;
    margin-bottom:5px;
    cursor: pointer;
    background: grey;
    display:inline-block;
    -webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.certificateExpanded {
    margin:5px;
    margin-top:20px;
    padding:10px;
    border-radius:6px;
    background: grey;
}

.close {
    width:15px;
    height:15px;
    float:right;
    font-size:12px;
    cursor: pointer;
}

.icon {
    width:40px;
}

.name {
    font-size: 16px;
    font-weight: bold;
}

.granter {
    font-size: 12px;
    font-style: italic;
}

.description {
    text-align:left;
}

.note {
    font-size:12px;
}

.date {
    font-style:italic;
    float:left;
}