/** ModAction.css **/

@value bootstrap: "../../bower_components/bootstrap/dist/css/bootstrap.css";

.hide {
	display:none;
}

#modAction {
    max-width:500px;
    border-radius:6px;
    border: 1px $purple solid; 
    padding: 10px;
    margin-top: 20px;
}

.close {
    float:right;
    cursor:pointer;
}


.chooseNorm {
    cursor:pointer;
}

.norm {
	margin-left: 15px;
}

.norms {
  list-style:none;
}
