/** ModAction.css **/

.modAction {
    padding: 20px;
    width: 100%;
}

.close {
    float:right;
    cursor:pointer;
}


.chooseNorm {
    cursor:pointer;
}

.norm {
	margin-left: 15px;
}

.norms {
  list-style:none;
  padding-left:10px;
}
