/** ModActionNotif.css **/

@value colors: "../colors.css";
@value secondary from colors;
@value bootstrap: "../../bower_components/bootstrap/dist/css/bootstrap.css";

.modActionNotif {
	/*composes: message from ./Message.css;*/
    background:secondary;
    font-size:12px;
    font-style: italic;
    color:grey;
}

.modActionNotif p {
    margin:0px;
}

.modActionNotif h3 {
    color:black;
    font-style:initial;
}

.modActionNotif ul {
    margin-bottom:5px;
}

.norm {
	/*composes: list-group-item from bootstrap;*/
    background:none;
    font-weight: bold;
    color:black;
    font-style:initial;
    border:none;
    padding:3px;
    margin-left:5px;
}

.quote {
	/*composes: well from bootstrap;*/
    color:grey;
    font-style:initial;
    width:80%;
}

.modNote {
    color:black;
    font-style:initial;
    font-size:14px;
    padding-bottom:20px;
}