.escalateLink {
  background:none;
  cursor: pointer;
  color: red;
  border:none;
  vertical-align: middle;
  margin-bottom:10px;
}

.escalateLink:hover {
  text-decoration: underline;
}

.btn {
    margin-right:10px;
    margin-bottom: 10px;
}

.hide {
  display: none
}
